* {
  border-color: lightcoral;
  border-width: 1px;
  border-style: solid;
}

body {
  margin: 10px;
  font-size: 20px;
}

.hero_container {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-areas: "categories employees"
}
